
.container {
    max-width: 1200px;
    background-color: whitesmoke;
      
}

,cell {
    height: 20px;


.full_padding {
    padding: 20px;
}


.flex_row {
      display: flex;
      flex-direction: row; 
      
  }

.margin_bottom {
    margin-bottom: 20px;

}

.margin_right {
    margin-right: 20px;

}


.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.gray {
    background-color: gray;

}
.black {
    background-color: black;

}
.blue {
    background-color: blue;
    
}

.turquoise {
    background-color: turquoise;
}

.orange {
    background-color: orange; 
}
